.card-evento {
  background-color: #212121;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.card-evento img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

@media (min-width: 576px) {
  .card-evento {
    flex: 1 1 calc(50% - 0.5rem);
    max-width: calc(50% - 0.5rem);
  }
}

@media (min-width: 768px) {
  .card-evento {
    flex: 1 1 calc(33.333% - 0.67rem);
    max-width: calc(33.333% - 0.67rem);
  }
}

@media (min-width: 1024px) {
  .card-evento {
    flex: 1 1 calc(25% - 0.75rem);
    max-width: calc(25% - 0.75rem);
  }
}

.card-evento p,
.card-evento h4 {
  margin: 0;
}

.card-evento .corpo {
  align-items: start;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-evento .tag {
  background-color: #4A4949;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  padding: 8px;
  text-transform: uppercase;
}

.data {
  color: #fff;
  font-weight: 400;
  font-size: 13px;
}

.titulo {
  font-family: "Orbitron", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 25px;
}
