.botao {
  background-color: #17D9B1;
  border-radius: 8px;
  border: none;
  color: #212121;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  padding: 8px 16px;
  width: 100%;
}

.botao:hover {
  opacity: 0.8;
  cursor: pointer;
}
