.form-evento {
  background-color: #212121;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  gap: 12px;
  margin: 64px auto;
  padding: 32px 28px;
  width: 384px;
}

.campos {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.acoes {
  text-align: center;
}
